/* header */
header{
    display: flex;
    flex-direction: row;
    background-color: #F6B379;
    padding: 20px;
    
}


nav ul{
    display: flex;
    list-style-type: none;
}

li{
    
}

.hero{
    object-fit: fill;
    width: 100%;
}

/* end header */

/* body{
    background: url("images/hero2.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
} */
