@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 50px 50px 50px 50px;
  background-color: #f6b379;
  padding: 20px;
  opacity: 0.8;
  position: sticky;
}

.centerContent {
  text-align: center;
  margin: 10px;
}

#chamberImg {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
}

#audience {
  grid-column: 1;
  grid-row: 3;
  margin: auto;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

#colorScheme {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

#text {
  grid-column: 1;
  grid-row: 4;
  margin: auto;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

#home {
  grid-column: 1;
  grid-row: 5;
  margin: auto;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

h1,
h2 {
  color: black;
  font-family: "Inter", sans-serif;
}

a:hover {
  background-color: white;
  border-radius: 30px;
  padding: 10px;
}

h2 {
  text-decoration: underline;
  color: #066489;
}

p {
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
  line-height: 20px;
}

.colors {
  border: 5px solid black;
}

section {
  text-align: center;
}

h1 {
  text-align: center;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

/* colors
tan: #FFDBC2
red:#ff5858
blue:#066489
black:
 */

@media screen and (min-width: 700px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
  }

  #chamberImg {
    grid-column: 1;
    grid-row: 1;
  }

  #audience {
    grid-column: 2;
    grid-row: 1;
  }

  #colorScheme {
    grid-column: 3;
    grid-row: 1;
  }

  #text {
    grid-column: 4;
    grid-row: 1;
  }

  #home {
    grid-column: 5;
    grid-row: 1;
  }
}
