@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

/* extra: font-family: "Caesar Dressing", cursive;
  titles: font-family: "PT Sans", sans-serif;
  text: font-family: 'Inter';
*/

body {
  margin: 10px;
  width: 100%;
  overflow-x: hidden;
}
.hero {
  object-fit: cover;

  width: 100%;
}
.bg-image {
  width: 100%;

  /* background-image: url("https://lingarner.github.io/wdd230final/final/images/hero2.jpg"); */
  background-image: url("https://lingarner.github.io/wdd230final/final/images/hero.jpg");

  background-repeat: no-repeat;

  height: 70vh;
  object-fit: cover;
}

.bg-join {
  width: 100%;
  height: 90vh;
  object-fit: contain;
  background-image: url("https://lingarner.github.io/wdd230final/final/images/bg-join.JPG");

  background-repeat: no-repeat;
}

header {
  margin-left: 0;
  width: 100%;
  background-color: #f6b379;
  opacity: 0.7;
  z-index: 2;
  padding: 10px;
}

nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

nav img {
  margin: auto 0;
  width: 260px;
  display: inline;
}

nav ul {
  grid-column: 1/3;
  text-align: center;
  list-style: none;
  display: none;
}

nav ul li {
  margin: 20px;
}

/* nav ul li:nth-child(1) {
  margin-top: 0px;
} */

nav a {
  text-decoration: none;
  color: black;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
}

nav a:hover {
  color: white;
  opacity: 1;
}
/* menu */

.btn-together {
  margin: 0 auto;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid black; */
}

.menu-btn-burger {
  width: 40px;
  height: 6px;
  background: black;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255, 101, 40, 0.2); */
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.menu-btn-burger::before,
.menu-btn-burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background: black;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255, 101, 40, 0.2); */
  transition: all 0.5s ease-in-out;
}

.menu-btn-burger::before {
  transform: translateY(-16px);
}

.menu-btn-burger::after {
  transform: translateY(16px);
}

/* animation */

.menu-btn.open .menu-btn-burger {
  transform: translateX(-50px);
  background: transparent;
}

.menu-btn.open .menu-btn-burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* hero message  */

.hero-message {
  /* margin-top: 30px; */
  background-color: #6c8991;
  padding: 20px;
  text-align: center;
  box-shadow: 3px 3px 20px black;
  border-radius: 30px;
  width: 250px;
  margin: 30px auto;
}

h3,
h2,
h1 {
  font-family: "PT Sans", sans-serif;
}

p {
  font-family: "Inter";
}

#bio p {
  font-size: 20px;
}

#heading-message {
  font-family: "PT Sans", sans-serif;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 3px 3px 20px black;
}

#insta-text {
  font-family: "Caesar Dressing", cursive;

  font-size: 30px;
  color: black;
}

#insta-text:hover {
  color: #f6b379;
}

/* main */

.main-grid {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 370px;
}

#cactus-flower,
#jump {
  width: 300px;
  margin-top: 30px;
  box-shadow: 3px 3px 20px black;
}

.purpose {
  padding: 0px;
}

/* carousel */
.favorite-heading {
  text-align: center;

  font-size: 40px;

  margin-bottom: 10px;
}

.favorites {
  display: flex;

  justify-items: center;

  align-items: center;

  justify-content: space-around;

  height: 500px;

  /* rgba(255, 0, 0, 0) */

  background-image: linear-gradient(to top, #fce9d9, #f6b379);

  overflow: hidden;
}

.favorites-pic {
  position: relative;

  z-index: 2;

  height: 400px;

  width: 300px;

  overflow: hidden;

  border-radius: 25px;

  box-shadow: 3px 3px 20px #13213a;
}

.above-photos {
  z-index: 3;

  /* background-color: aqua; */
}

.above-photos:hover {
  color: white;
}

.favorites-pic img {
  transition: transform 0.5s ease-in-out;
}

.favorites-pic img:hover {
  transform: scale(1.06);
}

.email-sign-up {
  margin-top: 33px;
  margin-bottom: 30px;
}

#email-button {
  padding: 15px;
  border-radius: 20px;
  background-color: #6c8991;
  color: white;
  font-family: "PT Sans", sans-serif;
  border: none;
}

#email-button:hover {
  background-color: #f6b379;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f6b379;
  padding: 10px;
  opacity: 0.8;
}

.social i {
  color: black;
  text-decoration: none;
}

i:hover {
  color: white;
}

i {
  display: inline;
}

.social ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

i {
  font-size: 3em;

  margin: 30px;
}

#small-dis {
  display: none;
}
/*  
















*/
/* PHOTOGRAPHER */
.photosMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.photosMain h1 {
  font-size: 2.7em;
  text-decoration: underline;
  margin: 0.67em 0;
}

#bio {
  margin: 20px;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding: 10px;
}

.slideshow-container img {
  box-shadow: 3px 3px 20px #13213a;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 10s;
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}

.larger {
  display: none;
}

#headpics {
  background-color: #f6b379;
}

/* timp set */
#timp-set {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
}

.fitsm {
  width: auto;
  height: auto;
  margin: 0 auto;
  border: 6px solid black;
  box-shadow: 3px 3px 20px #13213a;
}

.fit {
  display: none;
}

#center {
  justify-content: center;
}

#pictitles {
  text-decoration: underline;
  font-size: 40px;
  display: inline;
  color: black;
}

#titleHover {
  color: #f6b379;
}

/* join */
#join-main {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

form {
  margin: 0 auto;
}

#thanks {
  position: relative;
  color: white;
  font-size: 70px;
  text-shadow: 8px 8px 10px black;
  text-align: center;
  margin: 200px auto;
}

#button {
  display: block;
  margin-top: 30px;
  padding: 13px;
  border-radius: 20px;
  background-color: #6c8991;
  color: white;
  font-family: "PT Sans", sans-serif;
  border: none;
}

footer p {
  display: none;
}
